.button-exp {
  padding: 0.625rem;
  font-size: 0.9375rem;
  background-color: var(--color-primary);
  border-radius: 0.625rem;
  border: none;
  color: var(--color-white);
  margin-bottom: 1.25rem;
  cursor: pointer;
  transition:
    background-color 1s,
    border 1s,
    color 1s;
}

.button-exp--active {
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-primary);
  color: var(--color-black);
  transition:
    background-color 1s,
    border 1s,
    color 1s;
}
