.company-exp {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
  transition: opacity 1s;
}

.company-exp__title {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.company-exp__company {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
  background-color: var(--color-primary);
  padding: 0.3125rem;
  border-radius: 0.625rem;
  color: var(--color-white);
}

.company-exp__dates {
  font-size: 0.9375rem;
  margin-bottom: 0.625rem;
}

.company-exp__duties {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .company-exp {
    width: calc(100% - 18.75rem);
  }
}

@media only screen and (min-width: 1600px) {
  .company-exp {
    width: 62.5rem;
  }
}
