@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 10px;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Prompt", Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
}

.exp_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  width: 90%;
  height: auto;
}

.exp_container_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 10rem;
}

.exp_container_title h2 {
  font-size: 3rem;
}

.exp_container_title div {
  width: 8rem;
  background-color: #09f;
  height: 0.5rem;
}

.exp_container_btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.job-btn {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #09f;
  border-radius: 1rem;
  border: none;
  color: #fff;
  margin-bottom: 2rem;
  transition: background-color 1s, border 1s, color 1s;
}

.exp_container_info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
  transition: opacity 1s;
}

.exp_container_info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.exp_container_info h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  background-color: #09f;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #fff;
}

.exp_container_info h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.exp_container_info_duties {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
}

.exp_container_info_duties_dutie {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

svg {
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media only screen and (min-width: 1024px) {
  .exp_container_btns {
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: auto;
    width: 30rem;
    margin-top: 2rem;
  }

  .exp_container_info {
    width: calc(100% - 30rem);
  }
}

@media only screen and (min-width: 1600px) {
  .exp_container_info {
    width: 100rem;
  }
}

.active {
  background-color: #fff;
  border: 0.1rem solid #09f;
  color: #000;
  transition: background-color 1s, border 1s, color 1s;
}
